<?php
// if (!isset($params['escape']) || $params['escape'] !== false) {
//     $message = h($message);
// }
?>
<div class="message error hide" onclick="this.classList.add('hidden');"><?= $message ?></div>


<div class="alert alert-danger" onclick="this.classList.add('hidden');">
<a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
<?= h($message) ?>
	
</div>
