<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Facility Category'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Facilities'), ['controller' => 'Facilities', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Facility'), ['controller' => 'Facilities', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="facilityCategories index large-9 medium-8 columns content">
    <h3><?= __('Facility Categories') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('created') ?></th>
                <th scope="col"><?= $this->Paginator->sort('modified') ?></th>
                <th scope="col"><?= $this->Paginator->sort('name') ?></th>
                <th scope="col"><?= $this->Paginator->sort('description') ?></th>
                <th scope="col"><?= $this->Paginator->sort('status') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($facilityCategories as $facilityCategory): ?>
            <tr>
                <td><?= $this->Number->format($facilityCategory->id) ?></td>
                <td><?= h($facilityCategory->created) ?></td>
                <td><?= h($facilityCategory->modified) ?></td>
                <td><?= h($facilityCategory->name) ?></td>
                <td><?= h($facilityCategory->description) ?></td>
                <td><?= $this->Number->format($facilityCategory->status) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $facilityCategory->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $facilityCategory->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $facilityCategory->id], ['confirm' => __('Are you sure you want to delete # {0}?', $facilityCategory->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
