 <div class="bs-docs-section">
    <div class="row">
      <footer>
      <div class="row">
        <div class="col-lg-12">

          <ul class="list-unstyled">
            <li class="pull-right"><a href="#top">Back to top</a></li>
            <li><a href="http://sherwinrobles.blogspot.com">Blog</a></li>
            <li><a href="https://twitter.com/stuffsontheweb">Twitter</a></li>
            <li><a href="https://github.com/sherwinrobles/cakeswatch/">GitHub</a></li>
          </ul>
          <p>Made by <a href="http://sherwinrobles.blogspot.com" rel="nofollow">Sherwin Robles</a>. For projects contact him at <a href="mailto:sherwinrobles@gmail.com">sherwinrobles@gmail.com</a>.</p>
          <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a> & <a href="http://bootswatch.com" rel="nofollow">Bootswatch</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>

        </div>
      </div>
    </footer>
  </div>
</div>  